.footer{
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-top: 100px;
    background: #252323;
    color: white;
    align-items: center;
    width: 100%;
}
.footer p{

    text-decoration: underline;
}