.footer{
    display: flex;
    height: 70px;
    margin-top: 100px;
    background: #252323;
    color: white;
    align-items: center;
    width: 100%;
}
.footer p{
    margin-left: 40%;
    text-decoration: underline;
}