body , main , p {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    font-style: arial;
}
.Easter_Egg{
    background: black;
    color: white;
    text-align: right;
}
.Easter_Egg p{
    opacity: 0;
    text-decoration: underline;
    margin-right: 20px;
}
.Easter_Egg p:hover{
    transition: 5s;
    opacity: 100;
}
.header{
    display: flex;
    color: white;
    justify-content: space-between;
    background: rgba(0, 6, 58, 0.658);
}
.header p{
    text-shadow: 2px 1px rgba(0, 0, 0, 0.322);
    padding: 10px;
}