
.Back{
    margin: 10px;
}
.Back a{
    padding: 5px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
}
.Back a:hover{
    background: black;
    color: white;
    transition: 0.5s;
}
.Cálculos{
    max-width: 400px;
    flex: 1 1 200px;
    margin: 0 auto;
    border: 2px solid rgba(0, 0, 0, 0.445);
}
.Cálculos div{
    margin: 10px;
}
.Cálculos input{
    margin: 5px;
    padding: 5px;
    width: 90%;
}
.Cálculos button{
    border: 1px solid rgba(0, 0, 0, 0.445);
    background: white;
    width: 50%;
    padding: 5px;
    font-size: 20px;
}
.Cálculos button:hover{
    transition: 0.3s;
    color:rgba(0, 255, 255, 0.774);
    background: #252323;
}